.form {
  display: flex;
  flex-direction: column;
}

.authorize {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.authorize__title {
  color: #fff;
  text-align: left;
  width: 358px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin: 40px 0;
}

.authorize__text-label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: #8b8b8b;
  text-align: center;
  margin: 0;
  /* line-height: 11px; */
}

.authorize__link-login {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #4285f4;
  margin-left: 4px;
}

.authorize__link-login:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.form_type_login {
  padding-bottom: 181px;
}

.form__input:focus {
  outline: 2px solid #EE3465;
}

.form_type_register {
  padding-bottom: 93px;
}

.form__button-save {
  box-sizing: border-box;
  min-width: 396px;
  min-height: 45px;
  background: #4285f4;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 16px;
  padding: 0;
}

.form__button-save:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.form__button-save_disabled {
  background-color: F8F8F8;
  color: rgba(194, 194, 194, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 396px;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
  color: #fff;
  margin: 0;
  padding: 15px;
  outline: none;
}

.form__input:not(:last-of-type) {
  margin-bottom: 20px;
}

.form__input-label {
  margin-bottom: 10px;
  line-height: 12px;
  font-weight: 400;
  font-size: 10px;
  color: #8b8b8b;
}

@media screen and (max-width: 768px) {
  .authorize {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 767px) {
  .authorize {
    padding-top: calc(56px + (232 - 56) * ((100vw - 320px)) / (768 - 320));
    padding-bottom: calc(30px + (232 - 30) * ((100vw - 320px)) / (768 - 320));
  }
}

@media screen and (max-width: 450px) {
  .authorize__title {
    margin: 50px 0 80px;
    text-align: center;
    width: 100%;
    line-height: 29px;
  }
}

@media screen and (max-width: 450px) {
  .authorize__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .form__input {
    width: calc(260px + (396 - 260) * ((100vw - 320px)) / (768 - 320));
  }
}

@media screen and (max-width: 450px) {
  .form__button-save {
    min-width: calc(260px + (396 - 260) * ((100vw - 320px)) / (768 - 320));
    font-size: 12px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 450px) {
  .form_type_register {
    padding-bottom: 179px;
  }
}

@media screen and (max-width: 450px) {
  .form_type_login {
    padding-bottom: 267px;
  }
}


@media screen and (max-width: 450px) {
  .authorize__text-label {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .authorize__link-login {
    font-size: 12px;
  }
}

/* .form_type_register {
  padding-bottom: 93px;
} */

/* @media screen and (max-width: 1024px) {
  .form__button-save {
    min-width: calc(238px + (358 - 238) * ((100vw - 320px)) / (1024 - 320));
    min-height: 46px;
  }
}

@media screen and (max-width: 530px) {
  .form__button-save {
    margin: 0 auto 0;
    font-size: 14px;
    line-height: 17px;
  }
} */
